@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

body{
    height: 100vh;
    background-color: #17162E;
    color: white;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 20px;
}

header h1{
    font-size: 1.5rem;
}

header label{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#616161 ;
    color: #a0a0a0;
    width: 500px;
    height: 50px;
    border-radius: 10px;
    padding: 2px 15px;
}

header label input{
    background-color: inherit;
    outline: none;
    border: none;
    width: 80%;
    color: white;
}

header p{
    display: flex;
    gap: 15px;
    align-items: center;
}

header p span{
    color: white;
    background-color: #706EA8;
    border-radius: 5px;
    padding: 2px;
}

main{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 80%;
}

.filme{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1D1C3B;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #17162E;
}

.imagem-filme{
    clip-path: circle();
    width: 180px;
    height: 120px;
}

.filme-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filme-info p{
    font-size: .9rem;
}

.filme-info-icons{
    display: flex;
    gap: 10px;
}

.filme-info-icons img{
    cursor: pointer;
}

.filme-descricao{
    width: 60%;
    font-size: .9rem;
    font-weight: 200;
}